# Mapbox Configuration
# Obtén tu token en: https://account.mapbox.com/access-tokens/
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiZXhhbXBsZSIsImEiOiJjbGV4YW1wbGUifQ.example

# n8n Configuration (Opcional)
# URL base de tu instancia de n8n
NEXT_PUBLIC_N8N_BASE_URL=http://localhost:5678

# API Key para n8n (si es necesario)
NEXT_PUBLIC_N8N_API_KEY=tu_api_key_de_n8n

# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDEmDjNVjlwVviRutt7kSZtAgjMv4W8kI4
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=web-places-54de4.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=web-places-54de4
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=web-places-54de4.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=230513649239
NEXT_PUBLIC_FIREBASE_APP_ID=1:230513649239:web:c4a62b17ac8384ede32512
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-9T6ZRNL0BH
